/* Skins */

/* Season 1 */
.nexusskin {
  background-image: url("skins/s1/nexusskin.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.eneeditionskin {
  background-image: url("skins/s1/ene_edition_skin.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.minimalloliconskin {
  background-image: url("skins/s1/minimalist_lolicon_skin.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}


.finx4tsskin {
  background-image: url("skins/s1/fall_in_love_skin.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.colorofmidnightskin {
  background-image: url("skins/s1/color_of_midnight_skin.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.colorofmidnightskin {
  background-image: url("skins/s1/color_of_midnight_skin.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.linemeettheflatskin {
  background-image: url("skins/s1/line_meet_the_flat_skin.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.technoneonfancytheworldskin {
  background-image: url("skins/s1/techno_neon_fancy_the_world.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.ravefaltskin {
  background-image: url("skins/s1/r4v3_f4l7_skin.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* Season 2 */

.pixeldesignskin {
  background-image: url("skins/s2/pixel_design.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.reramremskin {
  background-image: url("skins/s2/re_ram_rem.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.murasameeditionskin {
  background-image: url("skins/s2/murasame_edition.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.summaryandvipskin {
  background-image: url("skins/s2/summary_and_vip.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.diamondlinkskin {
  background-image: url("skins/s2/diamond_link.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.honokaeditionskin {
  background-image: url("skins/s2/honoka_edition.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.fourrhythmskin {
  background-image: url("skins/s2/4rhythm.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.relinemeettheflatskin {
  background-image: url("skins/s2/re_line_meet_the_flat.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.sanobawitchskin {
  background-image: url("skins/s2/sanoba_witch.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.reminimalistloliconskin {
  background-image: url("skins/s2/re_minimalist_lolicon.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.abstractskin {
  background-image: url("skins/s2/abstract.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.blendsskin {
  background-image: url("skins/s2/blend_s.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.clearedskin {
  background-image: url("skins/s2/cleared.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.raphieleditionskin {
  background-image: url("skins/s2/raphiel_edition.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.pannomimiskin {
  background-image: url("skins/s2/pannomimi.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.musicandbeatskin {
  background-image: url("skins/s2/music_and_beat.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.aquariumskin {
  background-image: url("skins/s2/aquarium.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.rinneskin {
  background-image: url("skins/s2/rinne.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.odudaskin {
  background-image: url("skins/s2/oduda.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.autumnskin {
  background-image: url("skins/s2/autumn.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.tricirclesskin {
  background-image: url("skins/s2/tricircles.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.cottoncandyskin {
  background-image: url("skins/s2/cotton_candy.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.arcticskin {
  background-image: url("skins/s2/arctic.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}




/* Season 3 skins */

.hmsunicornskin {
  background-image: url("skins/s3/hms_unicorn.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.fujiwaraeditionskin {
  background-image: url("skins/s3/fujiwara_edition.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}


/* INSERT MINIMAL WEEB SKIN HERE WHEN AVAILABLE */


.remskin {
  background-image: url("skins/s3/rem.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.karentheayayaskin {
  background-image: url("skins/s3/karen_the_ayaya.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.kodokuskin {
  background-image: url("skins/s3/kodoku.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.resagiriskin {
  background-image: url("skins/s3/re_sagiri.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.unprojectskin {
  background-image: url("skins/s3/un_project.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.noelskin {
  background-image: url("skins/s3/noel.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.minatoaquaskin {
  background-image: url("skins/s3/minato_aqua.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}



